@import 'alert.scss';

// main logo size/spacing on large screens
div[size="large"] .logo {
    margin-top: 10em;
}

// "advanced" link in header is white font
// which is too light over light gray background
.siteHeader .btn {
    color: #555;
}

// "did you mean" styles, larger font & more focal
// ID selector for specificity
#ng-app .didYouMean {
    @extend .alert;
    @extend .alert-warning;
    font-size: 16px;
    font-weight: bold;
}

// make left-side facets more obvious, #3
// these styles copied from the base <a> style
// this selector for the "narrow your search" filters
.quickFilters span.ng-binding,
// the drawer of extra filters that apepars when "more..." is selected
// "a >" needed to avoid the .count span of numbers
.moreFacetsContainer a > span.ng-binding,
// for all facets below
.facetName {
    color: #06c;
    text-decoration: none;

    &:hover {
        color: #004080;
        text-decoration: underline;
    }
}

// hide the right-side links in formatted citation lists
// they make copy-pasting into documents difficult
li[ng-repeat="citation in citations"] a {
    display: none !important;
}

// "clear filters" container
.clearRefinementsContainer {
    padding-top: 1.2em;
    padding-bottom: 1em;
    background-color: #f6693f;
}
// "clear filters" button
.clearRefinementsContainer .customPrimaryLink .closeBtn {
    background: #f6693f !important;
    color: white !important;
    box-sizing: border-box;
    border: 1px white solid;
}
// "clear filters" button hover 
.clearRefinementsContainer .customPrimaryLink:hover .closeBtn, .clearRefinementsContainer .customPrimaryLink:active .closeBtn {
    background: white !important;
    color: #f6693f !important;
}
// "clear filters" text
.clearRefinementsContainer .ng-binding {
    color: white;
    font-size: 15px;
}
