@import 'alert.scss';

// main logo size/spacing on large screens
div[size="large"] .logo {
    margin-top: 10em;
}

// "advanced" link in header is white font
// which is too light over light gray background
.siteHeader .btn {
    color: #555;
}

// "did you mean" styles, larger font & more focal
// ID selector for specificity
#ng-app .didYouMean {
    @extend .alert;
    @extend .alert-warning;
    font-size: 16px;
    font-weight: bold;
}

// links menu background color is too light for white font
#linksMenu {
    background: #777;
}

// make left-side facets more obvious, #3
// these styles copied from the base <a> style
// this selector for the "narrow your search" filters
.quickFilters span.ng-binding,
// the drawer of extra filters that apepars when "more..." is selected
// "a >" needed to avoid the .count span of numbers
.moreFacetsContainer a > span.ng-binding,
// for all facets below
.facetName {
    color: #06c;
    text-decoration: none;

    &:hover {
        color: #004080;
        text-decoration: underline;
    }
}
