// maybe we _shouldn't_ make our users squint
body {
    font-size: 16px;
}

.s-lib-box .s-lib-box-title {
    font-size: 18px;
}

// CCA web branding for headers
.s-lib-box-content {
    h3, h4 {
        color: #0076A0;
    }
}
