// maybe we _shouldn't_ make our users squint
body {
    font-size: 16px;
}

.s-lib-box .s-lib-box-title {
    font-size: 18px;
}

// custom, responsive logo sizing
#cca-header {
    cursor: pointer;
    margin: auto;
    padding: 0;

    .logo {
        background: url("//s3.amazonaws.com/libapps/accounts/21563/images/orange-logo.jpg") no-repeat;
        background-position-y: 50%;
        background-size: contain;
        height: 81px;
    }
}

@media screen and (max-width: 620px) {
    #cca-header .logo {
        background: url("//s3.amazonaws.com/libapps/accounts/21563/images/orange-logo-620w.jpg") no-repeat;
        background-position-y: 50%;
        background-size: contain;
        height: 51px
    }
}
