// _tags.scss
// 360 Core styles related to HTML tags

body {
    margin: 0 auto;
    width: 960px;
}

body,
div,
p,
span {
    font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande";
}

a:link,
a:visited {
  text-decoration: none;
}
