h2 {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 15px;
    color: #666666;
    text-align: center;
}
.IndexHead {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 13px;
    letter-spacing: 1px;
    color: #666666;
    text-align: left;
}
.LetterLinks {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 15px;
    color: #666666;
    text-align: center;
    font-style: italic;
}
.DBLinks {
    font-size: 12px;
}
.SectionHead {
    font-size: 14px;
    text-align: left;
}
.HoldingsList {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: small;
}
table.SS_EJPTable {
    margin-left: auto;
    margin-right: auto;
}
.SS_CopyRightStatement {
    display: none;
}
.SS_TitleSearchForm {
    background-color: #ccc;
    padding: 15px;
    border: 1px dotted #000066;
}
.SS_AtoZLinks {
    background-color: #eadfca;
    padding: 15px;
    border: 1px dotted #000066;
    font-size: 12px;
}
.SS_CategorySelector {
    background-color: #ccc;
    padding: 15px;
    border: 1px dotted #000066;
    font-size: 12px;
}
.SS_ResultsNoteGroup {
    font-size: 85%;
}
.SS_NoJournalFoundMsg {
    color: #003399;
    font-weight: bold;
}
table {
    clear: both;
}
table td {
    font-size: 12px;
}
.SS_ToolLabels strong {
    font-size: 13px;
}
