@use "sass:color";
@use "colors";

// sass-lint:disable no-important
// make left-side facets more obvious, #3
// these styles copied from the base <a> style
// this selector for the "narrow your search" filters
.quickFilters span.ng-binding,
// the drawer of extra filters that appears when "more..." is selected
// "a >" needed to avoid the .count span of numbers
.moreFacetsContainer a > span.ng-binding,
// for all facets below
.facetName {
    color: colors.$link_blue;

    &:hover {
        color: color.adjust(colors.$link_blue, $lightness: -20%);
        text-decoration: underline;
    }
}

// "clear filters" container
.clearRefinementsContainer {
    // don't push facets down as much
    padding-bottom: 0;
    padding-top: 0;

    // "clear all" button hover
    .clearRefinementsContainerHeader .summonBtn:hover,
    .clearRefinementsContainerHeader .summonBtn:active {
        background: colors.$white !important;
        border: outset 2px colors.$cca-teal;

        span {
            color: colors.$cca-teal !important;
        }
    }

    // larger font for all "clear refinements" text
    .ng-binding {
        color: colors.$cca-teal;
        font-weight: bold;
    }
}
